html {
    scroll-behavior: smooth;
}

#beranda{
    scroll-margin-top: 200px;
}

#bio{
    scroll-margin-top: 87px;
}

body{
    margin: 0px;
    background-color: rgb(222, 234, 255);
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar */
.navbar{
    background-color: rgb(79, 111, 145);

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

}

.nav-link{
    display: flex;
    list-style: none;
    gap: 80px;
}

.nav-link li a{
    color: rgb(47, 72, 140);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 80px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.menu li a{
    text-decoration: none;
    color: rgb(34, 39, 66);
}

/* Beranda */
.beranda{
    text-align: center;
    padding-top: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(34, 39, 66);
}

.foto1 img{
    width: 225px;
    border-radius: 50%;
}

/* Video */
.videop{
    text-align: center;
    margin: 100px auto;
    max-width: 1000px;
}

.videop .teks1{
    background-color: rgb(79, 111, 145);
    color: rgb(34, 39, 66);
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.videop video{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    border: none;
    height: auto;
    z-index: 0;
}


/* Biodata */
.bio{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.jdl{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    background-color: rgb(79, 111, 145);
    color: rgb(34, 39, 66);

    padding: 8px;
    margin: 80px auto 0;
    
}

.biodata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    gap: 50px;
    margin: 0 auto;
    padding: 40px;
    

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(147, 195, 247);
    color: rgb(42, 56, 81);

}

.biodata .kiri{
    flex: 1 1 250px;
    font-weight: 500;
    font-size: large;
}

.biodata .kiri img{
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.biodata .kanan{
    flex: 1 1 300px;
    font-weight: 500;
    font-size: large;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;

    background-color: rgb(79, 111, 145);
    color: rgb(34, 39, 66);

    padding: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* Tablet */
@media (max-width: 1024px){
    #bio{
        scroll-margin-top: 100px;
    }

    .navbar {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 5px 20px;
    }

    .menu {
        gap: 20px;
        font-size: 16px;
        margin: 5px;
        padding: 0;
    }

    .nav-link {
        gap: 28px;
        padding: 0;
    }

    .foto1 img {
        width: 200px;
    }

    .beranda {
        font-size: 18px;
    }

    .videop video {
        width: 80%;
        max-width: 800px;
    }

    .videop .teks1{
        width: 80%;
        max-width: 800px;
        font-size: 16px;
    }

    .biodata {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bio .jdl{
        font-size: 16px;
    }

    .biodata .kanan, 
    .biodata .kiri {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        font-size: 18px;
    }

    footer {
        font-size: 16px;
        padding: 10px;
        gap: 5px;
    }
}

/* HP */
@media (max-width: 450px){
    #bio{
        scroll-margin-top: 100px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px 20px;
    }

    .nav-link {
        gap: 28px;
        padding: 0;
    }

    .menu {
        gap: 20px;
        font-size: 14px;
        margin: 5px;
        padding: 0;
    }

    .foto1 img {
        width: 150px;
    }

    .beranda {
        font-size: x-small;
    }

    .videop video {
        width: 80%;
        max-width: 400px;
    }

    .videop .teks1{
        width: 80%;
        max-width: 400px;
        font-size: xx-small;
    }

    .biodata {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bio .jdl{
        font-size: xx-small;
    }

    .biodata .kanan, 
    .biodata .kiri {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        font-size: x-small;
    }

    footer {
        font-size: xx-small;
        padding: 10px;
        gap: 5px;
    }
}